<footer class="footer">
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  
    <p class="title">TROUVEZ UN FILM AVEC L'UN DE NOS CINÉMAS PARTENAIRES :</p>
  
    <div class="cinema-columns">
      <div class="city">
        <h4>PARIS</h4>
        <a href="#">Beaugrenelle</a>
        <a href="#">Champs-Élysées</a>
        <a href="#">La Villette</a>
      </div>
      <div class="city">
        <h4>LYON</h4>
        <a href="#">Vaise</a>
        <a href="#">Carré de Soie</a>
        <a href="#">Bellecour</a>
      </div>
      <div class="city">
        <h4>MARSEILLE</h4>
        <a href="#">Madeleine</a>
        <a href="#">Plan de campagne</a>
        <a href="#">La Joliette</a>
      </div>
      <div class="city">
        <h4>NICE</h4>
        <a href="#">Lingostière</a>
        <a href="#">Masséna</a>
        <a href="#">Gare du Sud</a>
      </div>
    </div>
  
    <p class="copyright">© 2025 Copyright: MIxUP</p>
  </footer>
  